<div class="jumbotron">
	<div class="container">
	  <h1 class="display-4">Hello, world!</h1>
	 <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	  <hr class="my-4">
	  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	  <a class="btn btn-info" >
	   <i class="fa fa-thumbs-up" aria-hidden="true"></i>
		 Learn more
		</a>
	</div>
</div>
<div class="container">
  <!-- Content here -->

 <div class="row">
  <div class="col-md-4">
  	<div class="page-header">
  		<h2 style="display:inline">Encabezado de página 1</h2>
  			<span class="label label-default">New</span>
	</div>
   <h2> Subtítulos </h2>
   <p>Jesús Eduardo Rico Sandoval Jesús Eduardo Rico Sandoval 
   Universidad Tecnológica del Norte de Guanajuato
   Universidad Tecnológica del Norte de Guanajuato
   Desarrollo de Aplicaciones Web 
   Ingeniería en TIC's
    </p>
   </div>

   	<div class="col-md-4">
   		<div class="page-header">
  		<h2>Encabezado de página 2</h2>
		</div>
	   <h2> Subtítulos </h2>
	   <p>Jesús Eduardo Rico Sandoval Jesús Eduardo Rico Sandoval 
	   Universidad Tecnológica del Norte de Guanajuato
	   Universidad Tecnológica del Norte de Guanajuato
	   Desarrollo de Aplicaciones Web 
	   Ingeniería en TIC's
	    </p>
   	</div>

   	<div class="col-md-4">
   		<div class="page-header">
  		<h2>Encabezado de página 3
	   <h2> Imagenes </h2>
	   <p>Jesús Eduardo Rico Sandoval Jesús Eduardo Rico Sandoval 
	   Universidad Tecnológica del Norte de Guanajuato
	   Universidad Tecnológica del Norte de Guanajuato
	   Desarrollo de Aplicaciones Web 
	   Ingeniería en TIC's
	    </p>
	    <img src="https://pre00.deviantart.net/568c/th/pre/f/2018/007/e/1/migatte_no_gokui__ultra_instinct__by_leonardofrost-dbz9eut.png" width="420px" class="img-responsive">
   	</div>
  </div> <!-- cierre del div row-->
</div>
